@import './variables';

.footer-component {
    background: #222222;
    height: auto;
    padding-top: 11%;
    padding-bottom: 9%;
    display: flex;
    align-items: center;

    .footer-left {
        .footer-logo {
            max-width: 250px;
        }

        .footer-description {
            color: #fff;
            font-size: 1.1rem;
            line-height: 1.5;
            margin-top: 20px;
        }

        .footer-newsletter {
            color: #627575;
            font-size: 0.875rem;
            margin-top: 20px;
            text-decoration: none;
        }

        .footer-newsletter:hover {
            color: $primary-color;
        }
    }

    .footer-right {
        h5 {
            color: #fff;
            font-size: 1rem;
            font-weight: bold;
            margin-bottom: 15px;
        }

        .footer-links {
            list-style: decimal;
            padding-left: 20px;

            li {
                margin-bottom: 20px;

                &::marker {
                    color: #fff;
                }

                a {
                    color: #627575;
                    text-decoration: none;

                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }

        .footer-contact {
            list-style: none;
            padding: 0;

            li {
                display: flex;
                align-items: center;
                margin-bottom: 30px;
                padding-bottom: 20px;
                border-bottom: 1px solid #627575;

                .icon {
                    margin-right: 10px;
                    color: #627575;
                }

                a {
                    color: #627575;
                    text-decoration: none;

                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
    }
}

.footer-subfooter {
    background: #151414;
    height: 90px;
    display: flex;
    align-items: center;

    .subfooter-text {
        color: #fff;
        font-size: 0.875rem;
        margin: 0;

        a {
            color: $primary-color;
            font-weight: bold;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

@media (max-width: 768px) {
    .footer-component {
        padding-top: 20px;
        padding-bottom: 20px;

        .footer-left,
        .footer-right {
            text-align: center;
        }

        .footer-right {
            margin-top: 20px;

            .footer-contact li {
                padding-bottom: 10px;
                margin-bottom: 10px;
            }
        }
    }
}
