.integration-component {
    padding-top: 6%;
    padding-bottom: 6%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media (max-width: 768px) {
        height: auto;
        padding-bottom: 20px;
    }

    .text-column {
        color: $dark-color;

        .integration-description {
            color: $dark-color;
            font-size: 15px;
            line-height: 2.5;
        }
    }

    .image-column {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .video-wrapper {
            position: relative;
            width: 100%;
            height: 100%;
            max-width: 100%;
            overflow: hidden;

            .integration-video {
                width: 100%;
                height: auto;
                border-radius: 10px;
                object-fit: cover;
            }
        }
        .brand-slider {
            width: 90%;
        }
    }

    .container {
        .row {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        }

        .col {
            display: flex;
            justify-content: center;
            padding: 10px;
        }

        @media (max-width: 768px) {
            flex-direction: column-reverse;
        }
    }
}
