.slider-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 220px;
    margin-right: 20px;
}

.slider-text {
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
    flex-grow: 1;
}

.slider-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider-user {
    display: flex;
    align-items: center;
}

.slider-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px;
}

.slider-rating {
    color: #ffcc00;
    font-size: 16px;
}

.slick-dots {
    bottom: -25px;
    display: none;
}

.slick-dots li button:before {
    color: #ffcc00;
}

/* Espacio entre las cards dentro de slick-slide */
.slick-slide {
    margin-right: 20px;
    /* Este espacio asegura que las cards no se peguen */
}

.slick-track {
    display: flex;
    align-items: center;
    /* Esto asegura que las cards se alineen de forma consistente */
}