@import './variables';

.training-section {
    background-color: #978F8F;
    padding-top: 6%;
    padding-bottom: 6%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media (max-width: 768px) {
        height: auto;
        padding-bottom: 20px;
    }

    .text-column {
        color: $light-color;

        .training-description {
            color: $light-color;
            font-size: 16px;
            line-height: 2.5;
        }
    }

    .video-column {
        display: flex;
        justify-content: center;
        align-items: center;

        .video-wrapper {
            position: relative;
            width: 100%;
            height: 100%;
            max-width: 100%;
            overflow: hidden;

            .training-video {
                width: 100%;
                height: auto;
                border-radius: 10px;
                object-fit: cover; 
            }
        }
    }

    .container {
        .row {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        }

        .col {
            display: flex;
            justify-content: center;
            padding: 10px;
        }
    }
}