@import './variables';

.u-section {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 5%;
    padding-bottom: 5%;

    .university-component {
        .dynamic-card {
            height: auto;
            border-radius: 10px;
            padding: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            color: $light-color;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            margin-bottom: 10px;

            h5 {
                font-weight: bold;
                color: $light-color;
            }

            p {
                color: $light-color;
            }
        }

        @media (max-width: 991px) {
            .u-section {
                height: auto;
                margin-top: 140px;

                .dynamic-card {
                    height: 150px;
                    width: 100% !important;
                }
            }
        }
    }
}